body {
    margin: 0 auto;
    width: auto;
    font-family: 'Oswald', sans-serif;
}
.MainContainer{
    margin: 0 auto;
    width: 100%;
}
.topnav{
    display:flex ;
    justify-content: center;
    background-color: #2B2825;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    position: fixed;
    text-align: center;
}
.topnav a {
    padding: 20px 20px;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
.topnav a:hover {
    color: orange;
    transition: all .5s ease-in-out;
  }
.topnav a.active {
    color: orange;
  }
.topnav .icon {
    display: none;
  }
@media screen and (max-width: 550px) 
{
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      font-family: Arial, Helvetica, sans-serif;
    } 
}
@media screen and (max-width: 550px) 
{
    .topnav{
        display: block;
        position: fixed;
    }
    .topnav.responsive 
    {
        position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
      
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
}
.bg-container{
    background: url(/img/BACKimage.jpg);
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0px;
    margin-bottom: 48px;
}
.bg-container1{
    width: 1140px;
    padding: 96px 12px;
}
.supercrispy{
    margin-bottom: 24px;
    color: orange;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}
.cakezone{
    margin-bottom: 24px;
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}
.thebestcakeinlondon{
    margin-bottom: 8px;
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}
.readmore{
    padding-top: 68px;
    padding-left: 12px;
    font-family: 'Oswald', sans-serif;
}
.readmore a{
    padding: 6px 34px;
    background-color: orange;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    outline: orange solid 12px;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}
.readmore a:hover{
    color: black;
    transition: all .5s ease-in-out;
}
@media only screen and ( max-width:900px){
    .bg-container{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 25px 12px 96px 12px;
    }
    .smscreen{
        text-align: center;
    }
}
.aboutuscontainer{
    padding-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.aboutuscontainer1{
    width: 1140px;   
}
.aboutus1{
    text-align: center;
    margin-bottom: 48px;
}
.aboutus1-line1{
    font-family: 'Pacifico', cursive;
    color: orange;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}
.aboutus1-line2{
    font-size: 56px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.aboutus2{
    display: flex;
}
.aboutus2pic img{
    width: 512px;
    height: 472px;
    padding: 0 24px;
    object-fit: cover;
}
.aboutus2infobox{
    padding: 0px 24px 32px 24px;
}
.aboutus2infobox2{
    display: flex;
    margin-top: 58px;
}
.aboutus2infobox2-award1{
    padding-right: 24px;
}
.aboutus2infobox2-award2{
    padding: 0px 24px 0px 24px;
}
.aboutus2infobox1 h3{
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 24px;
}
.aboutus2infobox2-award1-icon{
    width: 70px;
    height: 70px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    outline: orange solid 10px;
    margin-bottom: 34px;
    margin-left: 10px;
}
.aboutus2infobox2-award2-icon{
    width: 70px;
    height: 70px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    outline: orange solid 10px;
    margin-bottom: 34px;
    margin-left: 10px;
}
@media screen and (max-width: 900px){
    .aboutuscontainer{
        padding-top: 0px;
    }
    .aboutus1-line1{
        font-size: 24px;
    }
    .aboutus1-line2{
        font-size: 33px;
    }
    .aboutus2{
        display: block;
    }
    .aboutus2pic{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .aboutus2pic img{
        width: 327px;
        height: 400px;
        padding-left: 0;
        padding-right: 0;
    }
    .aboutus2infobox2{
        display: block;
    }
    .aboutus2infobox2-award1{
        padding-right: 0px;
    }
    .aboutus2infobox2-award2{
        padding: 0px;
    }
}
.bg-achievement{
    background-image: linear-gradient(rgba(43, 40, 37, 0.5), rgba(43, 40, 37, 0.5)), url("/img/bg1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}
.achievement{
    width: 1140px;
    padding: 96px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
.achievement-disp{
    padding: 0px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.achievement-icon{
    width: 40px;
    height: 40px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    outline: orange solid 10px;
}
.achievement-info{
    padding-left: 34px;
}
@media screen and (max-width: 900px){
    .achievement{
        display: block;
    }
    .achievement-disp{
        justify-content: left;
        padding-left: 34px;
        margin-top: 14px;
        
    }
}
.bg-menu{
    padding: 48px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 1140px;
    padding:0px 12px 0px 12px;
    display: block;
}
.menu-1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 64px;
}
.menu-1 h1{
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 1px;
}
.menu-2-bg{
    display: block;
}
.caketypes{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
    padding: 26px 30px 26px 30px;
    font-family: 'Oswald', sans-serif;
}
.caketypes-bg-orange{
    padding: 15px 15px;
    background-color: black;
    border: 1px solid white;
    outline: black solid 10px;
}
.caketypes-bg-orange h6{
    background-color: orange;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 7px 14px 7px 14px;
    margin-bottom: 0;
    outline: black solid 15px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
.mainmenu-bg{
    display: block;
}
.mainmenu-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.mainmenu-row-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
.mainmenu-row-item-mr{
    margin-right: 26px;
}
.mainmenu-row-bg{
    display: block;
}
.birthdaycakeMENU{
    width: 150px;
    height: 85px;
}
.cakeprice{
    text-align: center;
    color: orange;
    background-color: black;
    padding: 8px 8px;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.mainmenu-row-item-info{
    padding: 14px 15px;
    border: 1px solid white;
    background-color: #FAF3EB;
    outline: #FAF3EB solid 10px;
}
@media screen and (max-width: 900px){
    .mainmenu-row{
        display: block;
        margin-top: 0px;
    }
    .mainmenu-row-item-mr{
        margin-right: 0px;
    }
    .mainmenu-row-item{
        margin-top: 40px;
    }
}
.bg-chefs{
    padding: 48px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chefs{
    width: 1140px;
    padding:0px 12px 0px 12px;
    display: block;
}
.chefs-row1{
    margin-bottom: 73px;
    text-align: center;
}
.chefs-row2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chef-box-bg{
    padding: 0px 24px 0px 24px;
}
.chef-box{
    display: block;
}
.chef-img img{
    width: 340px;
    height: 340px;
}
.chef-info{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: black;
    padding: 15px 0 10px 0;
    margin: 10px 10px;
    border: 1px solid white;
    outline: black solid 10px; 
}
.chef-info h4{
    color: orange;
    font-weight: 600;
    letter-spacing: 1px;
}
.chef-info p{
    margin-bottom: 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
@media screen and (max-width: 900px){
    .chefs-row2{
        display: block;
    }
    .chef-box{
        padding: 20px 0 20px 0;
    }
    .chef-box-bg{
        padding: 0px;
    }
    .chefs-row1{
        margin-bottom: 30px;
    }
    .chef-img {
        display: flex;
        justify-content: center;
    }
}
.bg-combopack{
    padding: 48px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;
    background-image: linear-gradient(rgba(43, 40, 37, 0.9), rgba(43, 40, 37, 0.9)),url(/img/bg2.jpg);
    background-color: initial;
    background-size: cover;
    background-position-x: initial, center;
    background-position-y: initial, center;
}
.combopack{
    width: 630px;
    padding:48px 12px 48px 12px;
    text-align: center;
}
.combopack h2{
    font-family: 'Pacifico', cursive; 
    color: orange; 
    font-weight: 700;
}
.combopack h1{
    font-family: 'Oswald', sans-serif; 
    font-size: 56px; 
    font-weight: 900; 
    letter-spacing: 1px;
    margin-bottom: 48px;
    color: white;
}
.combopack p{
    font-family: 'Open Sans', sans-serif; 
    margin-bottom: 41px;
    color: white;
    font-weight: 400;
}
.combopack-btns {
    padding: 6px 34px;
    background-color: orange;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    outline: orange solid 12px;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}
.combopack-btns:hover{
    color: black;
    transition: all .5s ease-in-out;
}
.combopack-btns-orange{
    margin-right: 33px;
}
.combopack-btns-black{
    background-color: black;
    outline: black solid 12px;
}
.combopack-btns-black:hover{
    color: white;
}
.bg-testimonial{
    padding: 60px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial{
    width: 1140px;
    padding:0px 12px 0px 12px;
    text-align: center;
}
.testimonial-row1 h2{
    font-weight: 600;
    text-align: center;
}
.testimonial-row1 h1{
    font-size: 56px;
    font-weight: 900;
    letter-spacing: 1px;
}
.testimonial-row2{
    display: flex;
    justify-content: center;
}
.testimonial-row2-client-bg{
    margin-right: 69px;
}
.testimonial-row2-client-bg-mr{
    margin-right: 0px;
}
.testimonial-row2-client{
    background-color: black;
    border: 1px solid white;
    outline: black solid 12px;
    padding: 15px 15px;
}
.testimonial-row2-client p{
    text-align: left;
    margin-bottom: 0px;
}
.client-name{
    display: flex;
}
.client-name img{
    margin-right: 15px;
    margin-bottom: 15px;
}
.client-img img{
    width: 60px;
    height: 60px;
}
.client-prof{
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
@media screen and (max-width: 900px){
    .testimonial-row1 h1{
        font-size: 45px;
    }
    .testimonial-row2{
        display: block;
    }
    .testimonial-row2-client-bg {
        margin-right: 0;
        padding: 25px 0 25px 0;
    }
    .bg-testimonial{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.bg-outro{
    margin-top: 90px;
    padding: 0px 12px 0px 12px;
    background-image: linear-gradient(rgba(43, 40, 37, 0.5), rgba(43, 40, 37, 0.5)), url("/img/bg1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outro{
    width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cakezone-info{
    background-color: orange;
    border: 1px solid white;
    outline: orange solid 10px;
    margin-top: -50px;
}
.cakezone-info-bg{
    width: 320px;
}
.cakezone-contact-bg{
    display:flex;
    margin-left: 35px;
    width: 820px;
}
.cakezone-smallscr-bg{
    width: 33%;
}
.cakezone-contact-disp{
    padding: 48px 10px 0px 24px;
    color: white;
    margin-bottom: 48px;
}
.address{
    display: flex; 
    width: 180px;
}
.getintouch-socials{
    margin-top: 30px;
    display: flex;
    padding-bottom: 10px;
}
.socials-icon{
    width: 30px;
    height: 30px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    outline: orange solid 10px;
    margin: 0 15px 0 15px ;
}
.socials-icon i:hover{
    color: black;
}
.cakezone-quicklinks li{
    margin-bottom: 8px;
    list-style: none;
}
.cakezone-quicklinks li a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 900px){
    .outro{
        display: block;
        width: auto;
        padding: 0;
    }
    .cakezone-info-bg{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 12px 0 12px;
    }
    .cakezone-info{
        margin-top: 30px;
    }
    .cakezone-contact-bg{
        width: 100%;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
    }
    .cakezone-smallscr-bg{
        width: 100%;
    }
    .cakezone-contact-disp{
        margin-bottom: 0;
        padding-left: 10px;
    }
    .quicklinks{
        margin-bottom: 0px;
    }
    .address{
        width: 100%;
    }
    .cakezone-newsletter br{
        display: none;
    }
}